@import "definitions";
@import "compass/css3";

body.manage.institutions {

  .permalink {
    display: none;
  }

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .institution-users {
    display: block;
  }

  .institution-spaces {
    display: block;
  }

}