@import "definitions";
@import "compass/css3";

body.manage.institutions {

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread-title {
    font-weight: bold;
  }

  .page-tabs-full {
    .btn { float: right; }
  }

  .institution-details {
    float: left;
    width: 40%;
  }

  .institution-disk {
    float: left;
    margin-left: 15px;
    width: 40%;
  }

  .progress {
    margin: 0;
  }
}
