@import "definitions";
@import "compass/css3";

body.manage.institutions {

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread-title {
    font-weight: bold;
  }

  .page-tabs-full {
    .btn { float: right; }
  }

  .institution-disk {
    padding-top: 10px;
  }

  .short-progress {
    width: 20%;
  }

}