= render :partial => 'menu'

#manage

  .page-tabs.page-tabs-full
    = link_to t('.create'), new_institution_path, :class => 'open-modal btn btn-info'

  #institutions
    - for institution in @institutions
      = render :partial => 'institution', :locals => { :institution => institution }

- nav = page_navigation_links @institutions
- unless nav.nil?
  .content-block-footer= nav
