#footer-guides
  %ul
    %li= link_to t('.links.user_guide'), current_site.external_help
    %li= link_to t('.links.requirements'), requirements_url
    %li= link_to t('.links.service_page'), service_page_url
    %li= link_to t('.links.mconf_tec'), mconf_tec_url
