- page ||= 1

#webconf-room-invite-header

  .title= t('.title', name: @room.name).html_safe

  .status-wrapper
    - type = @room.private ? t('.private') : t('.public')
    = t('.meeting_type', type: type).html_safe
    .room-status{:"data-url" => running_bigbluebutton_room_url(@room, :format => "json")}
      .label.status{options_for_tooltip(t(".refresh"))}
        = t(".status_unknown")

  .footer= t('.footer')
