@import "definitions";
@import "compass/css3";

body.institutions {

  input[type=text], textarea {
    width: 98%;
  }

  textarea {
    resize: vertical;
    max-height: none;
    height: 150px;
  }

}
