@import "definitions";
@import "compass/css3";

body.institutions.show {

  .management-links {
    float: right;
    padding-top: 8px;
  }

  .thread-title {
    font-weight: bold;
  }

  .page-tabs-full {
    .btn { float: right; }
  }

}